{% extends "stocks/base.html" %}

{% block title %}
    Trade
{% endblock %}

<!-- /////////////////////////////////////////////// -->

{% block body1 %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">Stock name</th>
        <th scope="col">Ticker</th>
        <th scope="col">Current price</th>
        <th scope="col">% move today</th>


      </tr>
    </thead>
    <tbody>
          <tr>
            <td id="name">{{ name }}</td>
            <td id="ticker">{{ data.symbol }}</td>
            <td id="price">{{ data.price }}</td>
            <td>{{ pct }}</td>
          </tr>
    </tbody>
  </table>

{% endblock %}

<!-- /////////////////////////////////////////////// -->

{% block body2 %}
    

{% endblock %}

<!-- /////////////////////////////////////////////// -->

{% block body3 %}
<h5>Investment case:</h5>
      <textarea id ="investment-case-input" name="case" type="text" method="post"></textarea>
    </br>
      <input type="submit" value="Record idea" id="submit" />
          

{% endblock %}

<!-- /////////////////////////////////////////////// -->

{% block body4 %}
<h1>Trade</h1>
<p>{{ticker}}</p>
<p>{{data}}</p>
<p>{{ data.open }}</p>

<!--Load page specific JavaScript --> 
{% load static %}
<script src="{% static 'stocks/build_trade.js' %}"></script>
{% endblock %}

    




