{% extends "stocks/base.html" %}

{% block title %}
    Dashboard
{% endblock %}



{% block body1 %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Open price</th>
        <th scope="col">Price</th>
        <th scope="col">Performance</th>
        <th scope="col">Target price</th>
        <th scope="col">Upside</th>
        <th scope="col">Close trade</th>


      </tr>
    </thead>
    <tbody>
        {% for trade in trades %}
          <tr>
            <td>{{ trade.name }}</td>
            <td>{{ trade.open_price }}</td>
            <td>{{ trade.current_price }}</td>
            <td>{{ trade.performance }}</td>
            <td>{{ trade.target_price }}</td>
            <td>{{ trade.upside }}</td>
            <td><a href="{% url 'close_trade' trade.ticker trade.open_price trade.open_date %}" class="btn btn-danger">Close trade</a></td>
          </tr>
          {% endfor %}
    </tbody>
  </table>    


{% endblock %}

{% block body2 %}
    


{% endblock %}

{% block body3 %}
    


{% endblock %}

{% block body4 %}
    


{% endblock %}
