{% extends "stocks/base.html" %}

{% block title %}
    Dashboard
{% endblock %}



{% block body1 %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Open date</th>
        <th scope="col">Open price</th>
        <th scope="col">Price today</th>
        <th scope="col">Performance</th>
        <th scope="col">Comment</th>
        <th scope="col">Close trade</th>


      </tr>
    </thead>
    <tbody>
          <tr>
            <td id="name">here</td>
            <td id="ticker">here</td>
            <td id="price">here</td>
            <td>here</td>
            <td>here</td>
            <td>here</td>
            <td>here</td>
          </tr>
    </tbody>
  </table>    


{% endblock %}

{% block body2 %}
    


{% endblock %}

{% block body3 %}
    


{% endblock %}

{% block body4 %}
    


{% endblock %}
