{% extends "stocks/base.html" %}

{% block title %}
    Select stock
{% endblock %}

<!-- /////////////////////////////////////////////// -->

{% block body1 %}
</br>
<form action="{% url 'trade' %}" method="post">
        {% csrf_token %}
    <div class="input-group mb-3">
        <input id ="stock-name-input" name="stock-name" type="text" class="form-control" placeholder="Company name" aria-label="Stock" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <input type="submit" value="Search" />
            </div>
    </div>   
</form>

{% endblock %}


<!-- /////////////////////////////////////////////// -->

{% block body2 %}
    

{% endblock %}


<!-- /////////////////////////////////////////////// -->


{% block body3 %}

{% if data|length > 0 %}
    
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Symbol</th>
          <th scope="col">Name</th>
          <th scope="col">Type</th>
          <th scope="col">Region</th>
        </tr>
      </thead>
      <tbody>
          {% for item in data %}
            <tr>
              <td><a href="{% url 'build_trade' item.symbol %}">{{ item.symbol }}</a></td>
              <td><a href="{% url 'build_trade' item.symbol %}">{{ item.name }}</a></td>
              <td><a href="{% url 'build_trade' item.symbol %}">{{ item.type }}</a></td>
              <td><a href="{% url 'build_trade' item.symbol %}">{{ item.region }}</a></td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
        <!-- <p>{{ item.symbol }} - {{ item.name }}</p> -->  

{% endif %}

{% endblock %}


<!-- /////////////////////////////////////////////// -->


{% block body4 %}


{% endblock %}
